NEXT_PUBLIC_SUPABASE_URL="YOUR URL HERE"
NEXT_PUBLIC_SUPABASE_ANON_KEY="YOUR KEY HERE"

NEXT_PUBLIC_APRIMO_ENVIRONMENT="YOUR ENV PREFIX HERE"
NEXT_PUBLIC_APRIMO_CLIENT_ID= "YOUR ID HERE"
NEXT_PUBLIC_APRIMO_CLIENT_SECRET= "YOUR SECRET HERE"

